*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body{
  height: 100%;
  width: 100%;

}
body{
    display: flex;
    align-items: center;
    justify-content: center;
}

#game{
    width: 400px;
    height: 500px;
    background-color: aqua;
    position:  relative;
}

#bird{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: orange;
    position: absolute;
    top: 200px;
    left: 20px;
}

#score{
    font-size: 20px;

}