*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html,body{
    width: 100%;
    height: 100%;
}

#main{
    height: 100%;
    width: 100%; 
}

.mainbox{
    width: 100%;
    height: 100%; 

}
.mainbox nav{ 
    padding: 10px 40px ;
    height: 50px;
    width: 100%; 
    color: white; 
    display: flex;
    justify-content: space-between;
    align-items: center; 
    gap: 20px;  
}

.mainboxnav h1{
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    width: 15%;  

}
.navbar {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    display: flex; 
    align-items: center;
    text-decoration: none;
    justify-content: space-between; 
    width: 50%;
    gap: 20px;
    margin-right: 20px; 
    font-size: 20px;

}

.navbar a{
    text-decoration: none;
    color: white;
}

.btns{
    display: flex;
    gap: 20px; 
}

.btns button{ 
    font-size: 20px;
    width: fit-content; 
    padding: 4px 8px;
    background-color: #DCE16C;
    border-radius: 5px;
    border: 1px solid white;
}

.btn-one{
    background-color: black !important;
    color: white;
}

/* ********************Hero Section ********************** */
 
#hero{
    height: 100%;
    width: 100%; 
    display: flex;
    background-image: url("./assets/hero-background.png"); 
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    overflow: hidden;

}

.herosection{
    height: 100%;
    width: 100%;
    display: flex;
}

.left{
    width: 50%;
    height: 100%; 
    display: flex; 
    flex-direction: column;
    justify-content: center; 
    padding: 0 30px; 
    gap: 40px;
}

.left h2{
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    
}
.left p{
    width: 80%;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif; 
}

.text{ 
    font-family: Arial, Helvetica, sans-serif;
    width: fit-content;
    font-weight: 200;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 80px;
}

.text h4{
    font-weight: 200; 
    background-color: #DEE46C;
    font-size: 20px;
    border-radius: 5px;
    padding: 5px 10px;
    color: black;

}
.text h2{
    font-size: 20px;
    font-weight: 600;
}

 
.texticon{
    gap: 20px;
    font-weight: 200;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
 
.right{
    width: 50%;
    height: 100%;
    background-image: url("./assets/woman\ afro\ 2.png");
    background-size: cover;
    background-position: center;
    background-repeat: no;
}