*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html,body{
    width: 100%;
    height: 100%;
}

nav{
    width: 100%;
    display: flex;
    justify-content: space-between; 
    padding: 0.4rem;
    
}

nav img{
    width: 25%;
    height: auto;
}

.nav-btns{
    display: flex;
    align-items: center;
    gap: 1rem;

}

.color-bg{
    width: fit-content;
    padding: 0.5rem 1rem;
    border: none;
    font-weight: 600;
    cursor: pointer;
    background-color: #4A154B; 
    color: white;
    border-radius: 4px;
}

/* ********************HeroSection******************* */

.heroOne{
    width: 100%;
    height: 100%; 
}

.heroOne-left{
    width: 100%;
    /* background-color: orange; */
    display: flex;
    flex-direction: column; 
    justify-content: center;  
    align-items: center;
}

.heroOne-left h3{
    font-size: 2rem;
    padding-top: 1rem;
}

.heroOne-left h3 span{
    color: #4A154B;
}

.heroOne-left p{
    padding: 0.9rem;
    width: 85%;
    font-size: 1rem;
    text-align: center;
}

.heroOne-btns{
    display: flex;
    flex-direction: column;  
    gap: 0.5rem; 
}

.color-bg-two{
    width: fit-content;
    padding: 0.5rem 3rem;
    border: none;
    font-weight: 600;
    cursor: pointer;
    background-color: #4A154B; 
    color: white;
    border-radius: 4px;
}
.color-text{

   width: fit-content;
    padding: 0.5rem 2rem;
    border: none;
    font-weight: 600;
    cursor: pointer;
    background-color: transparent; 
    color: #4A154B;
    border-radius: 4px;
    border: 1px solid #4A154B;
}

.heroOne-center{
    padding: 1rem;
    display: flex; 
    /* background-color: rebeccapurple; */
}

.images{
    display:flex;
    align-items: center;
    justify-content: space-evenly; 
    flex-wrap: wrap;
    gap: 1rem; 
    /* background-color: red; */
    width: 100%;
}

.hide-img{
    display: none;
}
.heroOne-center img{
    width: 20%;
    height: auto;

}
.big-text{
    width: 100%;
    height: auto;  
    /* background-color: brown; */
}


.heroOne-right{
    width: 100%;
    /* background-color: blue; */
}

.heroOne-right-img{
    width: 100%;
    height: auto;
}

.heroOne-right-img img{
    width: 100%;
    height: auto;   
}

/* *******************SectionTwo******************* */

.sectionTwo{
    width: 100%;
    height: 100%;
    /* background-color: royalblue; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}
.sectiontwo-container{
    width: 100%;
    height: 100%;
}

.sectiontwo-top{ 
    width: 100%;
    padding: 1rem;

    



}
.sectiontwo-top h2{
    font-size: 1.8rem;

}


.sectiontwo-bottom{
    width: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    /* background-color: orange; */

}
.sectiontwo-icons{
    display: flex;  
    align-items: center; 
    gap: 0.5rem;
    /* background-color: rebeccapurple; */

}
.sectiontwo-icons h5{
    font-size: 1.2rem;  

}

.sectiontwo-icons i{ 
}

.sectiontwo-texts{


}

.sectiontwo-texts-top{ 
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    /* background-color: #4A154B;  */


}
.sectiontwo-texts-top h3{
    font-size: 1.5rem; 
}
.sectiontwo-texts-top p{
    font-size: 1.3rem; 
}
.sectiontwo-texts-bottom{
    width: 100%; 
    
    margin-top: 2rem;
}
.sectiontwo-texts-bottom h3{
    color: #4A154B;
    font-size: 3rem;
}
.sectiontwo-texts-bottom p{
    font-size: 1.2rem;

}
.sectiontwo-video video{
    width: 100%;
    height: auto;

}

.sectiontwo-image{
    width: 100%;
    height: 100%;
}
.sectiontwo-image img{
    width: 100%;
    object-fit: contain;
    height: auto;
}
 

/* ============================= */
/* ========= MOBILE ============ */
/* ============================= */

