*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}

.App{
    font-size: 20px;
    padding: 10px;
    background-color: rebeccapurple;
   
}
.App h1{
    color: white;
    margin-bottom: 20px;
}

button{
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.App input{
    padding: 10px;
    font-size: 16px;
}