 *{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: "Gilroy", sans-serif;
 }
 
 html, body, #root{
   height: 100%;
   width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
 }


.app{
  background-color: yellow;
  height: 90%;
  width: 90%;
  border: 10px solid black;
  padding: 10px;
}
.dashboard{
  background-color: cyan;
  height: 90%;
  width: 100%;
  border: 10px solid black;
  padding: 10px;
}
.content{
  background-color: magenta;
  height: 90%;
  width: 100%;
  border: 10px solid black;
  padding: 10px;
}
.profile-card{
  background-color: orange;
  height: 90%;
  width: 100%;
  border: 10px solid black;
  padding: 10px;

}
.sidebar{
  background-color: lightgreen;
  height: 90%;
  width: 100%;
  border: 10px solid black;
  padding: 10px;
}
.container{
  border: 2px solid black;
  padding:10px ; 
  font-size: 10px;
  height: 70%;
  width: fit-content;
  background-color: rebeccapurple;
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.container p{ 

  font-weight: bold;
}
.container button{
  padding: 10px 20px;
  font-size: 10px;
  background-color: black;
  color: white;
  border: none;
  cursor: pointer;
  width: fit-content;
}
 
