*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
 }

 main{
    height: 100%;
    width: 100%;
    background-color: white;
    padding: 10px 10px;
   

 }
 .container{
    width: 100%;
    height: 100%;
    background-image: url("https://cdn.prod.website-files.com/67607873c1f6b4b02336520c/6780ee4a13cc0ede76d0b07f_Frame%201321316126%20(1).webp");
    background-size: cover;
    background-position: center;
    display: flex;   
    justify-content: space-between;
    align-items: center;
    flex-direction: column; 
    border-radius: 10px;

 }

nav{ 
    padding: 5px 10px; 
    display: flex;
    align-items: center;
    justify-content: space-between; 
    background-color: rgb(255, 255, 255);
    width: 80%; 
    margin-top: 20px;
    border-radius: 30px;
 }
 nav h2{
     font-size: 30px;
     font-weight: bold;
     color: rgb(71, 70, 70);
     font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
 }

 .links{
     display: flex;
     align-items: center;
     justify-content: space-between;
     gap: 40px;
 }

 .links a{
     text-decoration: none;
     color: rgb(82, 80, 80);
     font-size: 20px;
     font-weight: semibold; 
     padding: 10px 20px;
     border-radius:10px;
     font-family: Arial, Helvetica, sans-serif;
 }
 .links a:hover{
    background-color: rgb(226, 223, 218);
 }

nav button{
    background-color: black;
    color: white;
    padding: 20px 40px;
    border: none;
    border-radius: 50px;
    font-size: 18px;
}

.section{
    width: 80%;  
    display: flex;
    justify-content: space-between;
    align-items: center; 
    border-radius: 20px;
    color: white;
    margin: 10px;
     
}

.section h2{
    font-size: 45px;
    width: 40%;
}
.data{
    display: flex;
    align-items: center; 
    gap: 70px;
    width: 40%;
    font-size: 30px;
}

.data p{
    font-size: 15px;
}