*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
    font-family: "Gilroy";

}

#main{
    width: 100%; 
    background-color: #171717;
    padding: 1rem;
}


.hero{
    width: 100%;
    display: flex; 
    align-items: center; 
    padding: 1rem 2rem;
    
}

#nav{
    width: 100%;     
    padding: 0.6rem 1rem;
    display: flex;  
    align-items: center;
    justify-content: space-between;
    background-color: rgb(46, 42, 42);
    border-radius: 5rem ;
    color: white;

}
.nav-left{
    display: flex;
    align-items: center;    
}
.nav-left img{ 
    width: 3rem;
}

.nav-right{
    display: flex;
    align-items: center;
    justify-content: space-between; 

}
 


.navbar{
    display: flex;
    align-items: center;
    gap: 4rem;
}

.navbar a{
    text-decoration: none;
    color: white;
    font-size: 1rem;
}

.nav-btns{
    display: flex;
    align-items: center;
    gap: 1rem; 
}

.nav-btns i{
    border: 1px solid white;
    padding: 0.2rem;
    border-radius: 1rem;

}

.nav-btns button{
    padding: 0.2rem 1rem;
    border-radius: 1rem; 
}

.first-button{
    background-color: transparent;
    border: 1px solid white;
    color: white;
}

/* ******************************Section-One********************** */

.section-one{   
    display: flex;
    background-image: url("./assets/bg.png");
    background-size: cover;
    background-position: cover;
    background-repeat: no-repeat;  
    height: 100vh;
    border-radius: 3rem;
    /* background-color: rebeccapurple; */
    
}

.section-one-left{ 
    color: white;
    display: flex;
    flex-direction: column;
    font-weight: 200; 
    padding: 12rem 5rem;
    gap: 1rem;

    /* background-color: red; */
}
.section-one-left-texts{
    display: flex;
    flex-direction: column;
}
.section-one-left-texts p{
    font-size: 1rem;
}
.section-one-left-texts h3{
    font-size: 5rem; 
    font-weight: 200; 
}

.section-one-lefts-btns{
    padding-top: 3rem; 
    border-radius: 2rem;  
    font-size: 1rem; 
}
 
.without-color-btn{ 
    padding: 1rem 2rem;
    border: 0.1rem solid white;
    border-radius: 1rem;
}
.btn-sign{ 
     color: black;
     border-radius: 90%; 
     background:transparent;
    padding: 1rem;
    font-size: 1.2rem;
     border: 0.1rem solid white;      
}
 .color-btn{
    padding: 1rem 2rem;
    border-radius: 1rem;
    border: none;
    font-weight: 400;
    background-color: rgb(124, 248, 52);
 }


/* *************************************************section-right *****************************************/
.section-one-right{
     /* background-color: blue;  */
    padding : 2rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}
.right-top{
    display: flex;

}
.container{
    padding: 2rem;
    display: flex; 
    flex-direction: column;  
    

}
 
.onebox img{
    width: 200px;
    border-radius: 1rem;

}
.twobox{
    border: 1px solid white;
    display: flex ;
    padding: 1rem 0.5rem;
    border-radius: 1rem;
    flex-direction: column;
    background-color: white ;
    gap: 0.5rem;  
    margin-top: -1rem;


}
.twobox h6{
    color: gray;
    font-weight: 400;
    font-size: 0.8rem;
}
.twobox-bottom{
    display: flex;
    justify-content: space-between; 
    align-items: center;
    gap: 0.5rem; 

}
.twobox-bottom p{
    color: black;
    font-weight: semibold;
    font-size: 2rem; 
}
.twobox-bottom i{
    padding: 0.4rem;
    border-radius: 50%;
    border: 1px solid black; 
}
.threebox{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(209, 121, 39);
    border-radius: 2rem;
    padding: 1rem;
    gap: 2.5rem;
    margin-top:-0.4rem;

}
.threebox h6{
     color: black;
    font-weight: 400;
    font-size: 0.8rem;
}
.threebox-bottom{ 
    text-align: right;  
}

.threebox-bottom i{
    border: 1px solid black; 
    padding: 0.4rem;
     border-radius: 50%;
     color: black;

}
 

.icons{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
     

}
/* .right-bottom i{
    padding: 0.4rem;
    border: 1px solid black;
    border-radius: 50%;
    font-size: 2rem;
} */
 .short-arrow{
     padding: 0.4rem;
    border: 1px solid rgb(95, 91, 91);
    border-radius: 50%;
    font-size: 2rem;
    

 }
.long-arrow{ 
    border: 1px solid white;
     border-radius: 2rem;
    font-size: 2rem;
    padding: 1rem 4rem; 
}