*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

#main{
    width: 100%;
    height: 100vh;
     background-image: url("./assets/hero-bg.png");
    background-size: cover;
    background-position: cover;
}


.hero{
    width: 100%;
    display: flex; 
    align-items: center;
    background-color: #3f3f3fa8;
    
}

#nav{
    width: 100%;
    padding: 0.5rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(46, 42, 42);
    border-radius: 5rem ;
    color: white;

}
.nav-left{
    display: flex;
    align-items: center; 
    width: fit-content;
    background-color: rebeccapurple;
}
 


.navbar{
    display: flex;
    align-items: center;
    gap: 4rem;
}

.navbar a{
    text-decoration: none;
    color: white;
    font-size: 1rem;
}

.nav-btns{
    display: flex;
    align-items: center;
    gap: 1rem; 
}

.nav-btns i{
    border: 1px solid white;
    padding: 0.2rem;
    border-radius: 1rem;

}

.nav-btns button{
    padding: 0.2rem 1rem;
    border-radius: 1rem; 
}

.first-button{
    background-color: transparent;
    border: 1px solid white;
    color: white;
}

/* ******************************Section-One********************** */

.section-one{
    width: 100%; 
    height: 100vh;
    display: flex;
    background-image: url("./assets/hero-bg.png");
    background-size: cover;
    background-position: cover;
    /* background-color: rebeccapurple; */

}

.section-one-left{ 
    color: white;
    display: flex;
    flex-direction: column;
    padding: 12rem 4rem;
    gap: 2rem;

    /* background-color: red; */
}
.section-one-left-texts{
    display: flex;
    flex-direction: column;
}
.section-one-left-texts p{
    font-size: 1rem;
}
.section-one-left-texts h3{
    font-size: 3rem;
}

.section-one-lefts-btns{
    padding-top: 3rem;
}
.section-one-lefts-btns button{
    padding: 1rem ;     
    border-radius: 3rem;
    border: 0.2rem solid white;
    font-size: 1rem;
    gap: 2rem;

}


/* *************************************************section-right */
.section-one-right{
    width: 50%;
    /* background-color: blue; */
}