*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

#main{
    height: 100%;
    width: 100%; 
}

.top-header{
    background-color: black;
    color: white; 
    height: 50px;
    width: 100%;  
    text-align: center;
}

.header{
    height: 50px;
    width: 100%;
    background-color: rgb(255, 255, 255);
}

nav{
    padding: 0px 40px ;
    width: 100%;
    height: 50px;
    display: flex;  
    justify-content: flex-start;
    align-items: center;
    gap: 40px; 

}
nav h1{
    padding: 0 20px;
    width: 20%;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif; 
}
.navbar{
    height: 100%;
    width: fit-content; 
    gap: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center; 
}

.navbar a{
    text-decoration: none;
    width: 10%; 
    color: black; 
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

/* ********************************** HERO SECTION *********************************** */


.hero{
    
    width: 100%; 
    padding: 0 30px;
}

.hero img{
    background-position: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/* ***************************** Section 1 ********************************** */
h2{
    text-align: center;
    padding: 0px 30px;
    font-size: 50px;
    font-weight: 800;
    word-spacing: -5px; 
    font-family: "Anton", sans-serif;
    font-style: normal;
} 
.text{
    text-align: center;     
    display: flex;
    align-items: center; 
    justify-content: center;
    gap: 30px;
    font-family: Arial, Helvetica, sans-serif;
}
 .images{
    padding: 10px; 
    display: flex;
    width: 100%;
    gap: 10px;
    overflow: hidden;  
}
 .images img {
    height: 400px;
    width: 20%;
    object-fit: cover;
}

.section-two{
    width: 100%;
    height: 400px; 
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.text-div{
    width: 20%;
    height: 100%;
    display: flex;
    align-items: flex-start; 
    flex-direction: column; 
    overflow: hidden;

}

.text-images{
    width: 100%;
    height: 60%;
}

.text-images img{
    width: 100%;
    height: 100%;    
}


.text-head{
    width: 100%;
    height: 40%; 
}

.text-head>h2{
    margin-top: 20px;
    font-size: 25px; 
    line-height: 25px;
    text-align: left;
    width: 100%; 
    padding: 0 0;
}

.text-head p{
    padding-top: 10px;
    font-size: 10px ;
}

.section-three{
    height: 100%;
    width: 100%; 
    display: flex;
    flex-direction: column;
    padding: 0 30px;
}
.two-images{
    height: 50%;
    width: 100%;
    display: flex;
    gap: 10px;
}
.two-images img{
    width: 50%; 
    height: 100%;
    object-fit: cover; 
    background-position: start;

}

.section-three h1{
    text-align: center;
    font-weight: bolder;
    font-size: 50px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.four-images{
    height: 40%;
    width: 100%;
    display: flex;
    gap: 10px;
    overflow: hidden;
    align-items: center;
    justify-content: space-between;
}
.four-images img{
    width: 200px; 
    height: 250px;
    object-fit: cover;
}

.last-section{
    height: 50%;
    width: 100%;  
    margin-top: 40px;

}

.last-images{
    height: 100%;
    width: 100%;
    display: flex; 
    background-color: red;
}

.last-images img{
    height: 100%;
    width: 50%;
}
.girlimage{
    height: 60%;
    width: 100%;
    background-position: top;
    object-fit: cover;
}

/* ********************************** FOOTER */

footer{
    height: 100px;
    width: 100%;
    background-color: black;
    color: white; 
}

.footer-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}