*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body{
  height: 100%;
  width: 100%;
}

main{
  height: 100%;
  width: 100%;
  background-color: yellow;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}

.container{
  height: 60%;
  width: 40%;
  background-color: orange;
  padding: 20px;
  display: flex;
  flex-wrap: wrap; 
}

.card{
  width: 100px;
  height: 100px;
  background-color: red;
  position: relative;
}

.cc{
  width: 100px;
  height: 100px;
  background-color: red;
  position: relative;
}


.ctop{
  height: 100%;
  width: 100%;
  background-color: gray;
  position: absolute; 
  transition: transform 0.5s ease;

}

.cbottom{ 
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background-color: blue;
}

.flipped {
  transform: rotateY(180deg);
}
