*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
   
}

main{
    width: 100%;
    height: 100%; 
    /* background-color: rebeccapurple; */
}

nav{
    
    height: 10%;
    width: 100%; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem; 
    /* background-color: blue; */
}

.nav-left{
    font-size: 0.7rem;
    padding: 1rem;
    display: flex;
    align-items: center;
    gap: 2rem;
    font-family:Arial, Helvetica, sans-serif;
     font-weight: 100;

}
.nav-left h3{
     font-weight: 100;

}
.nav-left img{
    width: 6rem;
    
}
.nav-right{

    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
     font-weight: 100;


}
.nav-right h4{
     font-weight: 100;
     font-size: 0.8rem;

}

.user{
    border: 1px solid gray;
    border-radius: 50%;
    padding: 0.3rem;
}

.heroOne{
    width: 100%;
    height: 100%;
    background-image: url("https://cdn-dynmedia-1.microsoft.com/is/image/microsoftcorp/Highlight-Surface-Laptop-AI-7Ed-Sapphire-MC001-3000x1682:VP4-1399x600");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
     
}

.heroOne-box{ 
    padding-top: 5rem;
    padding-left:5rem;
    width: 50%;
    display: flex;  
    flex-direction: column;
    gap: 1rem;
    /* border: 1px solid salmon; */

}
.heroOne-box h3{
    font-size: 2rem;
     font-weight: 100;
}

.heroOne-box button{
    padding: 0.5rem;
    width: fit-content;
    background-color: #005CA5;
    color: white;
    border: none;
}