*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
   
}

main{
    width: 100%;
    height: 100%; 
    /* background-color: rebeccapurple; */
}

nav{
    
    height: 10%;
    width: 100%; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem; 
    /* background-color: blue; */
}

.nav-left{
    font-size: 0.7rem;
    padding: 1rem;
    display: flex;
    align-items: center;
    gap: 2rem;
    font-family:Arial, Helvetica, sans-serif;
     font-weight: 100;

}
.nav-left h3{
     font-weight: 100;

}
.nav-left img{
    width: 6rem;
    
}
.nav-right{

    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
     font-weight: 100;


}
.nav-right h4{
     font-weight: 100;
     font-size: 0.8rem;

}

.user{
    border: 1px solid gray;
    border-radius: 50%;
    padding: 0.3rem;
}

.heroOne{
    width: 100%;
    height: 100%;
    background-image: url("https://cdn-dynmedia-1.microsoft.com/is/image/microsoftcorp/Highlight-Surface-Laptop-AI-7Ed-Sapphire-MC001-3000x1682:VP4-1399x600");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
     
}

.heroOne-box{ 
    padding-top: 5rem;
    padding-left:5rem;
    width: 50%;
    display: flex;  
    flex-direction: column;
    gap: 1rem;
    /* border: 1px solid salmon; */

}
.heroOne-box h3{
    font-size: 2rem;
     font-weight: 100;
}

.heroOne-box button{
    padding: 0.5rem;
    width: fit-content;
    background-color: #005CA5;
    color: white;
    border: none;
}
/* ************************Sidebar***************************** */
.sidebar{
    width: 100%;  
    /* background-color: rgb(240, 240, 240); */
     display: flex;
    align-items: center;
    justify-content: space-between; 
    padding-top: 1rem;
    gap: 3rem; 
    flex-direction: column;
}

.sidebar-icons{
    display: flex;
    align-items: center;
    justify-content: center; 
    padding-top: 1rem; 
    gap: 1rem;
}
.play{
    border: 1px solid black;
    padding: 0.2rem; 
    border-radius: 50%;
}
.sidebar-tags{
    width: 100%;
    display: flex; 
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.tag-bar{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.4rem;
}
.tag-bar a{ 
    color: blue;
    font-size: 1rem;
}
.sidebar-tags img{
    width: 2rem;
}

/* *******************heroOne-containerBox****************** */

#heroOne-Container{ 
    width: fit-content;
    padding: 5rem;
    display: flex;
    /* background-color: rebeccapurple; */
}

.heroOne-containerBox{
    border: 1px solid rgba(131, 128, 128, 0.63);
    width: 40%; 
    display: flex; 
    flex-direction: column;
    gap: 2rem;
    padding: 1rem;
    /* background-color: gray; */
    
}
.heotop{
    /* background-color: red;    */

}
.heotop img{
    width: 100%; 
}
 
.heobottom{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    /* background-color: rebeccapurple; */
}
.heroOne-containerBox h3{
    /* padding: 1rem 1rem 0 1rem; */

}

.heroOne-containerBox h5{  
    font-size: 0.9rem; 
    font-weight: 200;
    line-height: 1.5;
    color: rgb(83, 77, 77); 

}
.heroOne-containerBox button{
     padding: 0.5rem;
    width: fit-content;
    background-color: #005CA5;
    color: white;
    border: none; 


}

/* ****************Section-two***************** */

.section-two{
    width: 100%;
    height: 100%;
    padding: 1rem 4rem;
   

}
.section-two-box {
     background-image: url("./assets/Highlight-Hero-Windows11-GlobalLaunch_VP4-1260x600.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
    display: flex;
    flex-direction: column; 
    justify-content: center;
    height: 100%; 
    /* background-color: rebeccapurple;  */
    padding: 10rem 5rem;
    gap: 1rem;
    color: white;
}
.section-two-box h3{ 
    font-size: 2rem;
    font-weight: 500;
    width: 40%;
    
}
.section-two-box p{
    font-size: 0.9rem;
    font-weight: 200;
    letter-spacing: 1px;
    width: 40%;

}

.section-two-box button {
    padding: 0.5rem;
    width: fit-content;
    background-color: #005CA5;
    color: white;
    border: none;
    font-weight: 600;

}

/* ****************social-section***************** */

.social-section{
    width: 100%;
    display: flex;  
    padding: 2rem;
    /* background-color: red; */
    justify-content: space-between;
    padding: 0 3rem;
}
.social{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: gray; */
    gap: 3rem;
    
}
.social h3{
    font-size: 1.5rem;
    font-weight: 100; 
}
.social-btn{
     padding: 0.5rem;
    width: fit-content;
    background-color: #acafb1;
    border: none;
    font-weight: 600; 


}
.social-img{
    display: flex; 
    gap: 1rem;
}
.social-img i {
    font-size: 1.4rem;
    gap: 1rem;
    /* background-color: rebeccapurple; */
}


/* ****************************Footer***************************** */
.footer {
  background-color: #f2f2f2;
  padding: 40px 60px 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  color: #616161;
  margin-top: 2rem;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: no-wrap;
  gap: 1rem;
}

.footer-column {
  min-width: 180px;
}

.footer-column h4 {
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 12px;
  color: #000;
}

.footer-column a {
  display: block;
  text-decoration: none;
  color: #616161;
  margin-bottom: 8px; 
}

.footer-column a:hover {
  text-decoration: underline;
}

.footer-bottom {
  margin-top: 30px;
  border-top: 1px solid #d6d6d6;
  padding-top: 15px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
}

.footer-left span,
.footer-right a,
.footer-right span {
  margin-right: 15px;
  color: #616161;
  text-decoration: none;
  font-size: 12px;
}

.footer-right a:hover {
  text-decoration: underline;
}

/* Responsive */
@media (max-width: 900px) {
  .footer-container {
    flex-direction: column;
  }

  .footer-bottom {
    flex-direction: column;
  }
}
