*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
}
 

main{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(105, 104, 104);
}

.container{
    width: 300px;
    height: 300px;
    background-color: rgb(212, 162, 162);
}


.gamestudio{
    width: 100%;
    height: 80%;
    background-color: rebeccapurple  ;
}

.pointer{
    width: 20px;
    height: 20px;
    background-color: yellow;
    border-radius: 50%;
}

.gamestudio button{
     
}
