* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

main {
  height: 100%;
  width: 100%;
  background-color: rgb(146, 146, 146);
  display: flex;
  align-items: center;
  justify-content: center;
}

.box {
  height: 60%;
  width: 30%;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  padding: 10px;
}

.over {
  display: none;
  font-size: 30px;
  text-align: center;
}

.container {
  position: relative;
  height: 70%;
  width: 100%;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.point {
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: red;
}

.top {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.top p {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 25px;
}

button {
  padding: 10px 40px;
  background-color: darkblue;
  color: white;
  cursor: pointer;
  font-size: 20px;
  border-radius: 10px;
}